// Sample sass

@import 'bootstrap_overrides';
@import 'bootstrap';

body {
    background: #fff;	
}

h1, h2, h3, h4, h5, h6, p {
  color: #323232;
}

p {
	line-height: 28px;

}

h1 {
	line-height: 38px;
}

h2 {
	line-height: 30px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.center {
	text-align: center;
	padding: 0 0 30px 0;

}

.hero {
    background-color: #fff;
    text-align: center;
    padding-bottom: 115px;
}

.tools {
	background-color: #f5f5f5;
	padding: 30px 100px 100px 100px;
}


.ind-tool-no-logo {
	padding-top: 71px;;
}

.about-sunlight {
	background-color: #ffffff;
	padding-bottom: 115px;

}

 .btn-lg {
 	background-color: #f6c917;
    border-color: #f6c917;
    border-radius: 0px;
}

.btn-primary {
	border-color: #f6c917;
	width: 40%;
    margin: 0 auto;
 }

 .btn-primary:hover {
 	background-color: #e2b423;
    border-color: #e2b423;
 }

 img.of-logo {
 	margin: 0 auto;
 	padding: 115px 0 35px 0;
    width: 372px;
    border-bottom: 1px solid #cccccc;
    display: block;

 }

 img.sunlight-logo {
 	margin: 0 auto;
 	padding: 115px 0 15px 0;
    width: 69px;
    display: block;

 }

 h1.tool-text {
 	padding-bottom: 30px;

 }

 .tool-name {
 	height: 100px;
 }

 .gutter {
 	padding-right: 80px;
 }
